# Database
DB_POSTGRES_PASSWORD="master_admin_secret_123"

## Testing
DB_TEST_USER="test_developer"
DB_TEST_PASSWORD="test_secure_pass_99"
DB_TEST_DB="testing_environment_db"

## Deployment
DB_DEPLOY_USER="deploy_admin"
DB_DEPLOY_PASSWORD="deploy_secure_pass_88"
DB_DEPLOY_DB="deployment_environment_db"